<!DOCTYPE html>
<html ng-app="app" id="ng-app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Load on demand demo</title>

</head>
<body>

	<a href="#!/home">home</a>
	<a href="#!/demand">demand</a>

	<div ng-view></div>
		
    <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="js/loadOnDemand.js"></script>
    <script type="text/javascript" src="js/app.js"></script>	
</body>
</html>